version: "3.7"
services:
  nginx:
    image: tianon/true
    command: "true"
    entrypoint: "true"
  web:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    command: uvicorn start:app --host 0.0.0.0 --port 5001 --reload
    ports:
     - "5001:5001"
    depends_on:
      - redis
      - db
    volumes: ['.:/app']
