[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = ">=6.4.0"
pydantic = "<2.0.0,>=1.10.2"
python-dotenv = ">=0.21.0"
sqlalchemy = ">=1.4.45"
databases = ">=0.7.0"
alembic = ">=1.9.0"
psycopg2-binary = ">=2.9.5"
redis = "==4.3.4"
fastapi = ">=0.88.0"
orjson = ">=3.8.3"
uvicorn = ">=0.20.0"
click = ">=8.1.3"
aiohttp = ">=3.8.4"
aiogram = ">=2.25.1"
asyncpg = ">=0.26.0"
pytest-asyncio = "*"
pytest = "*"
websockets = "==10.4"
web3mc = "*"
pip = "*"
setuptools = "*"
pre-commit = "*"
pylint = "*"
celery = "==5.2.7"
psycopg2 = "==2.9.6"
flower = "*"
web3-input-decoder = "==0.1.7"
requests = "*"
types-redis = "*"
types-requests = "*"
pandas-stubs = "*"
aioredis = "*"
pandas = "*"
aiocache = "*"

[dev-packages]
black = ">=22.12.0"
httpx = ">=0.23.1"
isort = ">=5.11.4"

[requires]
python_version = "3.10"
